<nav>
    <a href="/">
        <img src="/IMAGES/logo.svg" class="logo" alt="">
    </a>
    <img src="/IMAGES/menu.svg" alt="hamburger menu" class="burger">
    <ul class="menu-links">
        <li><a href="/about">About</a></li>

        <li><a href="/login" >Signin</a></li>
        <li><a href="/membership" >Signup</a></li>
        
    </ul>
</nav>