<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Document Title -->
    <title>About | Josean's Martinez</title>
    <meta name="category" content="">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/IMAGES/logo.svg" type="image/x-icon">
    <!-- GOOGLE FONTS API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/CSS/style.css">

    <!-- SCRIPTS -->
    <script src="/JS/jquery.js" defer></script>
    <script src="/JS/script.js" defer></script>

</head>

<body class="post-page" data-mode="light">
    <%- include('includes/preloader.ejs') %>
        <header>
            <%- include('includes/navbar.ejs') %>
        </header>
        <main>
            <section class="post-section">
                <h1 class="post-title">About</h1>
                <article class="article ">
                    <p class="about-txt">

                        Welcome to Bloggystories, the ultimate platform for storytellers and content creators. We
                        believe that everyone has a story to tell, and our mission is to provide a space where those
                        stories can be shared and celebrated.
                        Bloggystories is more than just a blogging website. It's a community of learners, content
                        <br>
                        <br>

                        creators,and storytellers who have come together to share their experiences, insights, and
                        perspectives
                        with the world. Whether you're a seasoned blogger or just starting out, Bloggystories offers the
                        tools and resources you need to bring your stories to life.
                        <br>
                        <br>

                        We believe that stories have the power to change the world, and we're committed to helping our
                        users share their stories with the world. From simple text posts to multimedia masterpieces,
                        Bloggystories
                        <br>
                        <br>
                        has everything you need to create and share your content with confidence.
                        So why wait? <a href="/membership" class="link">Join</a> the Bloggystories community today and start sharing your stories with the
                        world!
                    </p>
                </article>
            </section>
        </main>
        <footer>
            <ul>
                <li>

                    <a href="/contact">Contact</a>
                </li>
                <li>

                    <a href="/privacy">Privacy Policy</a>
                </li>
                <li>

                    <a href="/terms-of-use">Term Of Use</a>
                </li>
            </ul>
        </footer>
</body>
