<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Document Title -->
    <title>Privacy Policy | Josean's Martinez</title>
    <meta name="category" content="">
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/IMAGES/logo.svg" type="image/x-icon">
    <!-- GOOGLE FONTS API -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/CSS/style.css">

    <!-- SCRIPTS -->
    <script src="/JS/jquery.js" defer></script>
    <script src="/JS/script.js" defer></script>

</head>

<body class="post-page" data-mode="light">
    <%- include('includes/preloader.ejs') %>
        <header>
            <%- include('includes/navbar.ejs') %>
        </header>
        <main>
            <section class="post-section">
                <h1 class="post-title">Privacy Policy</h1>
                <article class="article ">

                    <p class="about-txt">
                        Bloggystories values the privacy of its users and is committed to protecting personal
                        information
                        collected through its website. This Privacy Policy outlines the types of personal information
                        that
                        may be collected, how it is used, and the steps taken to ensure its security.
                    </p>
                    <h3 class="about-title">Types of Personal Information Collected</h3>
                    <p class="about-txt">
                        Bloggystories may collect personal information such as name, email address, and any other
                        information voluntarily provided by users when creating a user account or submitting content on
                        the
                        website. Additionally, Bloggystories may collect information about users' browsing behavior and
                        usage of the website through cookies and other tracking technologies.
                    </p>
                    <h3 class="about-title">Use of Personal Information</h3>
                    <p class="about-txt">
                        Bloggystories uses personal information to provide its services, to maintain and improve the
                        website, and to communicate with users. This may include sending promotional materials,
                        responding
                        to user inquiries, and providing support.
                    </p>
                    <h3 class="about-title">Sharing of Personal Information</h3>
                    <p class="about-txt">
                        Bloggystories does not sell, rent, or share personal information with third parties, except as
                        necessary to provide its services or as required by law. Personal information may be disclosed
                        to
                        third parties for the purpose of processing transactions, providing customer service, or
                        performing
                        other services on behalf of Bloggystories.
                    </p>
                    <h3 class="about-title">Security Measures</h3>
                    <p class="about-txt">
                        Bloggystories takes reasonable measures to secure personal information collected through its
                        website. This may include using encryption technologies, firewalls, and secure servers. Despite
                        these measures, no online system can be completely secure, and Bloggystories cannot guarantee
                        the
                        security of personal information.
                    </p>

                    <h3 class="about-title">Changes to Privacy Policy</h3>
                    <p class="about-txt">
                        Bloggystories may update this Privacy Policy from time to time to reflect changes in its
                        practices
                        or the law. The latest version of the Privacy Policy will be posted on the website, and users
                        are
                        encouraged to review it regularly.
                    </p>

                    <h3 class="about-title">Contact Information</h3>
                    <p class="about-txt">
                        If you have any questions or concerns about this Privacy Policy or the handling of your personal
                        information, please contact Bloggystories at [bloggystories@gmail.com].
                    </p>

                </article>
            </section>
        </main>
        <footer>
            <ul>
                <li>

                    <a href="/contact">Contact</a>
                </li>
                <li>

                    <a href="/privacy">Privacy Policy</a>
                </li>
                <li>

                    <a href="/terms-of-use">Term Of Use</a>
                </li>
            </ul>
        </footer>
</body>

</html>