* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 99%;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ul,
ol {
    padding-left: 3rem;
}

ul li {
    list-style: none;
}

button {
    outline: none;

    &:focus {
        outline: none;
    }

    &:active {
        outline: none;
    }
}

.terms {
    li {
        margin-bottom: 2rem;
    }
}


html {
    scroll-behavior: smooth;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Custom Variables*/
:root {
    --font-family: 'Syne', sans-serif;
    --font-family: "Work Sans", sans-serif;
    --nav-bg: #1c2a33;
    --body-bg: #15232c;
    --boxs-shadow: rgba(0, 0, 0, 0.15);
    --text-color: #fff;
    --blog-post-gap: 1.5rem;
    --blog-post-bg: #28363f;
    --page-padding: 7px 1.1rem;
    --bg-read-post: #db1818;
    --copy-btn: #000;
    --code-block: rgb(55, 65, 81);
    --border-color: #ccc;
}

.btnAccount {
    padding: 8px 29px;
    color: #fff;
    border-radius: 3px;
    background: var(--body-bg);
    text-decoration: none;
}


body {
    line-height: 1;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

footer {
    display: block !important;
    margin: 0 !important;
    margin-top: auto !important;
}

@media only screen and (min-width: 768px) {
    :root {
        --page-padding: 7px 2rem;
    }
}

* {
    font-family: var(--font-family);
}

/* Base Styles */
body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    background-color: var(--body-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ccdcff;
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-family);
    font-weight: 600;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

strong {
    font-weight: bold;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: var(--nav-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: all;

    #status {
        width: 70px;
    }
}

@keyframes removePreloader {
    from {
        opacity: 1;
        pointer-events: all;
    }

    to {
        pointer-events: none;
        opacity: 0;
    }
}

#preloader.remove {
    animation: removePreloader .5s ease-out forwards;
    animation-delay: 1s;
}

header {
    background: var(--nav-bg);
    box-shadow: 0 5px 5px var(--boxs-shadow);

    nav {
        min-height: 10vh;
        padding: var(--page-padding);
        max-width: 80rem;
        margin: auto;
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;

        .burger {
            width: 40px;
            filter: invert(1);
            cursor: pointer;
            user-select: none;
        }

        a {
            width: 80px;
            user-select: none;

            img {
                user-select: none;
                pointer-events: none;
            }
        }

        .menu-links {
            display: flex;
            gap: 20px;
            position: fixed;
            height: 100vh;
            background: var(--body-bg);
            top: 0;
            left: 0;
            z-index: 1;
            width: 65%;
            flex-direction: column;
            padding: var(--page-padding);
            text-align: center;
            box-shadow: var(--boxs-shadow);
            outline: #ccc 1px solid;
            transition: .7s ease-in-out;
            transform: translateX(-100%);
            opacity: .7;

            // .btnAccount {

            // }

            &.active {
                transform: translateX(0);
                opacity: 1;
            }

            li:first-child {
                margin-top: 8rem;
            }

            li a {
                font-size: 1rem;
                color: #fff;

                .btn {
                    padding: 13px 29px;
                    color: #000;
                    background: var(--blog-post-bg);
                }
            }
        }
    }
}

.hero {
    min-height: 100vh;
    display: grid;
    background: url(/IMAGES/hero2.gif);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;

    .text-region {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        isolation: isolate;
        width: 100%;

        .text-holder {
            padding: var(--page-padding);
            min-height: 100%;
            color: var(--text-color);
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            .hero-title {
                font-size: 3.5rem;
                font-size: clamp(3.1rem, 5vw, 4rem);
                line-height: auto;
            }

            .hero-desc {
                max-width: 500px;
                word-wrap: break-word;
                font-size: 1.3em;
            }

            .read-post {
                padding: 15px 44px;
                display: inline-block;
                border: none;
                background-color: var(--bg-read-post);
                color: #fff;
                border-radius: 4px;
                font-size: 1em;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    background-color: #ff5d5d;
                }
            }
        }
    }

    // HERE
    .hero-img {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        isolation: isolate;
        filter: blur(1px) saturate(0.3) brightness(.2);
    }
}

.post-section {
    min-height: 10vh;
    padding: var(--page-padding);
    max-width: 80rem;
    margin: auto;

    .post-title {
        margin: 2.5rem 0;
        color: var(--text-color);
    }

    .post-filter {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        .filter {
            order: -1;
            outline: 1px solid rgba(167, 167, 167, 0.356);
            padding: 5px;
            border-radius: 5px;

            h4 {
                padding: 5px;
                color: #fff;
            }

            button {
                margin: 5px;
                cursor: pointer;
                font-weight: 500;
                background-color: transparent;
                border: none;
                color: #ccdcff;
                display: inline-block;
                border-radius: 4px;
            }
        }
    }

    .forceLoader {
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }

    .loadImagebox {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .loadmoreimg {
        width: 50px;
    }

    .no-post-found {
        color: var(--text-color);
    }

    .post-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: var(--blog-post-gap);
        align-items: center;
        justify-content: center;
        min-height: 60vh;
        position: relative;
        transition: height 1s ease;

        .blog-container {
            background: var(--blog-post-bg);
            border-radius: 0.75rem;
            overflow: hidden;
            color: var(--text-color);
            cursor: pointer;
            align-self: start;
            min-width: 270px;
            max-width: 450px;

            .blog-title {
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }

            .blog-image {
                object-fit: cover;
                width: 100%;
                aspect-ratio: 16/10;
                image-rendering: optimizeSpeed;
            }

            .blog-category {
                padding: 7px 30px;
                font-weight: 500;
                background-color: var(--body-bg);
                color: #ccdcff;
                display: inline-block;
                border-radius: 4px;
                margin-bottom: 15px;
            }

            .line {
                border: none;
                border-bottom: .1rem dashed rgba(204, 204, 204, 0.466);
            }

            .authors-info {
                display: flex;
                align-items: center;
                gap: .7rem;
                padding: 10px;

                .author-image {
                    width: 35px;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 50%;
                    outline: #ccc 1px solid;
                }
            }

            .blog-info {
                padding: 10px;
            }

            .blog-date {
                font-size: 1.125rem;
                font-weight: 400;
                font-size: .9em;
                margin-bottom: 1rem;

            }
        }
    }
}

.all-blogs {
    .blog-table {
        outline: 1px solid rgba(255, 255, 255, 0.4);
        padding: 10px;
        color: #fff;
    }

    .top-row {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;

        h4:last-child {
            text-align: right;
        }
    }

    .bottom-row {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        border-top: 1px solid rgba(255, 255, 255, 0.51);
        padding: 20px 0;

        pre {
            display: block;
            font-size: 1.2rem;
        }

        a {
            word-wrap: normal;
            font-size: 1.2rem;
        }
    }
}

.newpost-post-form {
    max-width: 65rem;
    margin: 4rem auto;

    .form-control {
        display: flex;
        flex-direction: column;

        >* {
            padding: 13px 19px;
            font-size: 1.2rem;
            background: none;
            border: none;
        }

        textarea {
            border: 1px solid #ccc;
            resize: none;
            min-height: 300px;
            color: #fff;
        }

        input {
            font-weight: 400;
            color: #fff;
            outline: 1px solid #ccc;

            // display: block;
            &[type="submit"] {
                margin-top: 3rem;
                cursor: pointer;
                background: var(--text-color);
                color: #000;
                font-weight: 400;
            }

            &[type="file"] {
                display: none;
            }

            :focus {
                outline: 1px solid #d78f8f;
            }
        }

        label {
            color: #fff;
        }

        #file-label {
            outline: 1px solid #ccc;
            margin-top: 1.5rem;
            cursor: pointer;

            .preview {
                display: block;
                margin: 1rem auto;
                width: 600px;
            }
        }
    }
}

.jodit-container.jodit.jodit_theme_default.jodit-wysiwyg_mode {
    background-color: #fff !important;
}

.article {
    color: #fff;
}

.code-block {
    background: var(--code-block) !important;
    color: #fff !important;
    border-radius: 5px;
    position: relative;
    padding: 1rem;
    display: block;

    .copybtn {
        padding: 3px;
        display: grid;
        place-items: center;
        user-select: none;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        background-color: var(--copy-btn);
        cursor: pointer;
        border: 1px solid rgb(184, 184, 184);
    }

    code {
        background-color: transparent !important;
        overflow-x: auto;
        display: block;
        padding: 1rem 0;
        white-space: nowrap;

        div {
            background-color: transparent !important;
            background: transparent !important;
        }
    }
}

.modal {
    position: fixed;
    transition: 0.3s;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #08083f44;
    display: grid;
    align-items: center;
    justify-content: center;
    // padding: 1rem;
    isolation: isolate;
    z-index: 30;
    opacity: 0;
    pointer-events: none;

    .modal-content {
        background: #fff;
        padding: 1rem;

        #paste-code {
            display: block;
            border: 1px solid var(--nav-bg);
            height: 40vh;
            margin-bottom: 1rem;
            padding: 0.5rem;
            line-height: 1rem;
            width: 250px;
            overflow-x: scroll;
        }

        .controls {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 5px;

            button {
                padding: 13px 20px;
                border-radius: 5px;
                border: none;
                cursor: pointer;

                &.ok {
                    background: var(--nav-bg);
                    color: #fff;
                }
            }
        }
    }
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.post-link {
    transition: .3s;
    display: block;
}

.post-link:hover {
    text-decoration: none;
    color: unset;
    transform: scale(1.01);
}

.post-page {
    .post-title {
        text-align: center;
        margin-bottom: 2rem;
    }

    .post-grid {
        color: #fff;
    }
}

.alert {
    display: block;
    position: fixed;
    padding: 0.5rem 1rem;
    color: #fff;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    min-width: 300px;
    border-radius: 3px;
    font-size: 1.3rem;
    -webkit-animation: alert 0.5s ease-in forwards;
    animation: alert 0.5s ease-in forwards;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;
    text-align: center;
}

.alert.success {
    background-color: var(--nav-bg);
}

.alert.err {
    background-color: rgb(110, 0, 0);
}

// .btn {
//     padding: 13px 20px;
//     background-color: #fff;
//     border-radius: 5px;
//     color: #000;
//     font-weight: bold;
// }

@-webkit-keyframes alert {
    from {
        opacity: 0;
        bottom: 1rem;
    }

    to {
        opacity: 1;
        bottom: 3rem;
    }
}

@keyframes alert {
    from {
        opacity: 0;
        bottom: 1rem;
    }

    to {
        opacity: 1;
        bottom: 3rem;
    }
}

.edit-btn {
    padding: 9px 23px;
    border-radius: 5px;
    background: #fff;
    color: #000;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1rem;
}

.edit-title {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: clamp(0.9rem, 2vw, 1.1rem) !important;
}

.dot {
    display: block;
    height: 7px;
    width: 7px;
    border-radius: 50%;

    &.disabled {
        background-color: gold;
    }

    &.enabled {
        background-color: lime;
    }
}

.enableform {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: flex-end;

    input {
        border: none;
        background-color: #ffff;
        color: #fff;
        font-weight: bold;
        padding: 4px 7px;
        outline: none;
        cursor: pointer;
        border-radius: 4px;

        &.disabled {
            background-color: rgb(160, 136, 0);
        }

        &.enabled {
            background-color: rgb(0, 172, 0);
        }
    }
}


.loadmore {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .load-more-post {
        padding: 14px 37px;
        background-color: var(--blog-post-bg);
        color: #fff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
}

footer {
    padding: var(--page-padding);
    margin: auto;
    border-top: 1px solid #7b7b7b75;

    div {
        max-width: 80rem;
        margin: auto;
    }

    ul {
        color: #fff;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        list-style: none;
        min-height: 10vh;
    }

}

.link {
    font-size: 1em;
    text-decoration: underline;
    color: rgb(108, 201, 255);
}

.scale-for-account {
    width: 30%;
    height: auto;
    stroke-width: 1 !important;
}

.alertbox.good {
    background: rgb(2, 175, 2);
}

.alertbox.bad {
    background: red;
}

.alertbox {
    display: inline-block;
    z-index: 90000;
    position: fixed;
    padding: 13px 37px;
    width: 300px;
    text-align: center;
    color: #fff;
    top: -100%;
    left: 50%;
    border-radius: 4px;
    transform: translateX(-50%);
    font-weight: bold;
    transition: .5s ease;
    animation: fadeAlert 0.7s ease-in-out forwards;
}

@keyframes fadeAlert {
    0% {
        top: -20%;
    }

    100% {
        top: 10%;
    }
}

.publisher {

    h5,
    h4 {
        color: var(--text-color);
    }

    .author {
        border: 1px solid var(--border-color);
        padding: 1rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 2rem;
        a {
            background: var(--btn-color);
            padding: 5px 13px;
            border-radius: 3px;
            color: var(--text-color);
            background-color: #6468c5;
            border: none;
            font-size: .8rem;
            text-decoration: none;
        }

        .author-image {
            width: 80px;
            border-radius: 50%;
            aspect-ratio: 1/1;
            display: block;
            object-fit: cover;
            margin: auto;
            margin-bottom: .6rem;
        }
    }
}
.article .content{
    line-height: 2;
}
///////////////////////////////////
///                             ///
///         MEDIA QUERY         ///
///         BIG SCREENS         ///
///                             ///
/// ///////////////////////////////

@media only screen and (min-width: 768px) {
    header {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .menu-links {
                all: unset;
                display: flex;
                align-items: center;
                list-style: none;
                gap: 20px;

                li:first-child {
                    margin-top: 0;
                }
            }

            .burger {
                width: 40px;
                filter: invert(1);
                display: none;
                user-select: none;
            }
        }
    }

    .post-section {
        .post-filter {
            grid-template-columns: 1fr;

            .filter {
                order: -1;
            }

            .filter-btns {
                border-radius: 3px;
            }
        }

        .login-form .form-control {
            >* {
                min-width: 350px;
            }
        }
    }

    header nav .new-post {
        padding: 12px 20px;
    }

    .modal {
        .modal-content {
            code {
                overflow-x: scroll;
                width: 500px;
            }
        }
    }
    /* Make the columns stack on top of each other for smaller screens */
    .post-columns {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2rem;
        padding-top: 2rem;
    }
}

.about-content{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.about-txt {
    line-height: 2;
}

.about-title {
    margin-top: 2rem;
}

.no-post {
    color: #ccc;
}